clubs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<element name="clubs">
		<complexType>
			<sequence maxOccurs="unbounded">
				<element name="club">
					<complexType>
						<all>
							<element name="name" type="string"></element>
							<element name="url" type="string"></element>
							<element name="abbreviation" type="string"></element>
							<element name="dsvNumber" type="string"></element>
						</all>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>